<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<link rel="stylesheet" href="{{ site.url }}/assets/style.css">
<link rel="stylesheet" href="{{ site.url }}/assets/pygments.css">
<link rel="icon" href="{{ site.url }}/assets/favicon.png">
<title>{{ page.title }}</title>
{% if page.googleSiteVerification %}
<meta name="google-site-verification" content="{{ page.googleSiteVerification }}">
{% endif %}


<header>
	<div class="inner">
		<h1>
			<a href="{{ site.url }}/" class="logo" title="Home">Contre-jour</a>
		</h1>
	</div>
</header>
