<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.url }}/assets/style.css">
<link rel="stylesheet" href="{{ site.url }}/assets/pygments.css">
<link rel="icon" href="{{ site.url }}/assets/favicon.png">
<link rel="canonical" href="https://contre-jour.github.io{{ page.url | replace:'/index.html','/' }}">
{% if page.googleSiteVerification %}
<meta name="google-site-verification" content="{{ page.googleSiteVerification }}">
{% endif %}
</head>
<body>

<header>
	<div class="inner">
		<h1>
			<a href="{{ site.url }}/" class="logo" title="Home">Contre-jour</a>
		</h1>
	</div>
</header>
